<!DOCTYPE HTML>
<html lang=>
<head>
    <meta charset="utf-8">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey!</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action='/result' method='post'>
        Your Name: <input id='name' type='text' placeholder="Type your name here">
        Dojo Location:
        <select ="Dojo Location">
            <option value="Silcon Valley">Silcon Valley</option>
            <option value="Los Angaeles">Los Angeles</option>
            <option value="Seattle">Seattle</option>
            <option value="Chicago">Chicago</option>
            <option value="Dallas">Dallas</option>
            <option value="Washington DC">Washington DC</option>
        </select>
        Favorite Language:
        <select ="Favorite Language">
            <option value="CSS">CSS</option>
            <option value="HTML">HTML</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
        </select>
        Comment (optional):
        <textarea name='comment' rows='4' cols='50' placeholder='Max 120 character comment limit'></textarea>
        <input id='submit' type='submit' value='send'>
        </form>
    </body>
</html>
